.constructor{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main{
    max-height: 440px;
    overflow-y: scroll;
    margin-right: -8px;
}
.currencyIcon{
    width: 33px;
    height: 33px;
}
