.item{
    max-width: 272px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.price{
    display: flex;
}
.name{
    text-align: center;
}
.image{
    margin: 0 auto;
    display: block;
}
.details{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.detailsItem{
    text-align: center;
}