body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1, h2, h3, p{
  margin: 0;
}
::-webkit-scrollbar {
  width: 8px;
  background-color:  #2F2F37;
}

::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

/*::-webkit-scrollbar-track {*/
/*  !*box-shadow: inset 0 0 4px rgba(0,0,0,0.2);*!*/
/*  margin: 40px;*/
/*}*/