.container{
    max-width: 600px;
}
.content{
    max-height: 660px;
    overflow-y: scroll;
}
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    max-width: 272px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.price{
    display: flex;
}
.name{
    text-align: center;
}