@value box: "~@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css";
@value common: "~@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css";

.d-flex{
    display: flex;
}

.header{
    background-color:  #1C1C21;;
}
.wrapper{
    max-width: 1280px;
    composes: d-flex;
    composes: pt-4 pb-4 from box;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.menu{
    composes: d-flex;
    gap: 8px;
}

.menuItem{
    composes: d-flex;
    composes: text text_type_main-default from common;
    composes: pt-4 pb-4 pl-5 pr-5 from box;
    align-items: center;
}
.menuItemLast{
    composes: menuItem;
    flex-basis: 25%;
    justify-content: flex-end;
}

.menuItemText{
    composes: ml-2 from box;
    text-decoration: none;
}

.activeLink{
    color: var(--text-primary-color) !important
}

